// Màu chủ đạo
$primary-color: #E7891E;
$secondary-color: #AF8969;

// Màu văn bản 
$text-dark-color: #0d0c0b;
$text-light-color: #FFF8F0;

// Màu nền
$background-color: #FFF8F0;
$background-color-dark: #0d0c0b;

// Màu viền và các yếu tố khác
$border-color: #DFE0DF;
$hover-color: darken($secondary-color, 10%);

