<app-header></app-header>
<div class="course-detail-bf-buy">
    <div class="row">
        <div class="content-heading">
            <div class="container d-flex">
                <div class="col-md-8">
                    <div class="left-content">
                        <h2>The Complete Histudy 2023: From Zero To Expert!</h2>
                        <p>Master Python By Building 100 Projects in 100 Days. Learn Data Science,
                             Automation, Build Websites, Games And Apps!
                        </p>
                        <div class="ud-text container d-flex">
                            <div class="col-md-3">
                                <button class="get-started">
                                    <a href="/course-detail-af-buy">Get Started</a>
                                </button>
                                <!-- chỉnh sửa logic sau
                                <button class="enroll">
                                    <a href=""></a>
                                </button>
                                -->
                            </div>
                            <div class="col-md-9">
                                <span>4.5</span>
                                <span>★★★★★</span>
                                <span>254,478 Rating</span>
                                <span>616,029 Students</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="right-content">
                        <div class="image-content">
                            <img src="thumnail-course.jpg" alt="thumnail-course">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-3">
        <div class="content-detail">
            <div class="container d-flex">
                <div class="col-md-8">
                    <!-- This is course-content -->
                    <app-course-content></app-course-content>
                </div>
                <div class="col-md-4">
                    <!-- This is course-side-bar -->
                    <app-course-sidebar></app-course-sidebar>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-3">
        <div class="course-releted">
            <div class="container">
                <h3>Releted Course</h3>
            </div>
            <app-carousel-course></app-carousel-course>
        </div>
    </div>
</div>
<app-footer></app-footer>