@import '../../styles/shared-styles.scss';
.course-detail-bf-buy {
    height: 100%;
    .row {
      margin: 0;
      padding: 0;
    }
  
    .content-heading {
        background-color: lighten($secondary-color, 10%);
        .container {
            display: flex;
            flex-wrap: wrap;
            padding: 15px 0;
    
            .col-md-8 {
                .left-content {
                    color: lighten($text-dark-color, 10%);
                    h2 {
                        font-size: 3.5rem;
                        font-weight: bold;
                        margin-bottom: 15px;
                        &:hover {
                            cursor: pointer;
                        }
                    }
        
                    p {
                        width: 80%;
                        font-size: 1.25rem;
                        line-height: 1.5;
                        margin-bottom: 20px;
                    }
        
                    .ud-text {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
        
                        .col-md-3 {
                            .get-started {
                                border: none;
                                background-color: lighten($secondary-color, 10%);
                                a {
                                    font-size: 1.2rem;
                                    font-weight: bold;
                                    display: block;
                                    text-align: center;
                                    padding: 10px 20px;
                                    background-color: $primary-color;
                                    color: $text-light-color;
                                    text-decoration: none;
                                    border-radius: 5px;
                                    &:hover {
                                        background-color: darken($primary-color, 10%);
                                    }
                                }
                            }
                        }
        
                        .col-md-9 {
                            display: flex;
                            align-items: center;
                            span {
                                margin-right: 20px;
                                font-size: 1.25rem;
                                &:first-child {
                                    font-size: 2rem;
                                    font-weight: bold;
                                }
                                &:nth-child(2) {
                                    color: #ffc107; // Color for stars
                                }
                            }
                        }
                    }

                }
            }
    
            .col-md-4 {
                .right-content {
                    .image-content {
                        img {
                            max-width: 100%;
                            border-radius: 9px;
                        }
                    }
                }
            }
        }
    }
  
    .content-detail {
        .container {
            display: flex;
            flex-wrap: wrap;
            padding: 15px 0;
    
            // .col-md-8 {
            //   // Style for course-content
            // }
    
            // .col-md-4 {
            //   // Style for course-side-bar
            // }
        }
    }
  
    .course-releted {
        .container {
            padding: 15px 0;
    
            h3 {
                margin-bottom: 10px;
                font-size: 1.5rem;
                font-weight: bold;
                color: $primary-color;
            }
  
        }
        // app-carousel-course {
        // // Style for carousel
        // }
    }
  }