<div class="course-list p-3">
    <div class="container">
        <div class="row mb-2" *ngFor="let i of [0,1,2,3,4,5,6,7,8,9]">
            <div class="course-card d-flex">
                <div class="col-md-3">
                    <div class="course-image">
                        <img src="real.jpg" alt="error image">
                    </div>
                </div>
                <div class="col-md-9">    
                    <div class="course-content">
                        <div class="col-md-10">
                            <div class="course-left-content">
                                <div class="course-card-tilte">
                                    <h3>
                                        <a href="/">
                                            Angular - The Complete Guide (2024 Edition)
                                        </a>
                                    </h3>
                                </div>
                                <div class="course-card-headline">
                                    <p class="text-headline" >Master Angular (formerly "Angular 2") and build awesome, reactive web apps with the successor of Angular.js</p>
                                </div>
                                <div class="course-card-teacher">
                                    <p class="text-teacher" >Maximilian Schwarzmüller</p>
                                </div>
                                <div class="course-card-rating">
                                    <span class="rating-label">4.5</span>
                                    <span class="rating-stars">★★★★☆</span>
                                    <span class="rating-count">(1,070)</span>
                                </div>
                                <div class="course-card-detail">
                                    <span class="total-hours">55.5 total hours</span>
                                    <span class="num-lectures">756 lectures</span>
                                    <span class="course-level">All Levels</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="course-right-content">
                                <div class="course-price">
                                    <p class="current-price">₫349,000</p>
                                    <p class="original-price">₫2,199,000</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <span class="deline"></span>
        </div>
        
    </div>
</div>
