<div class="course-content">
    <div class="container mt-2">
        <!-- What will you learn -->
        <div class="row">
            <div class="what-you-learn">
                <h2>What you'll learn</h2>
                <div class="what-you-learn-content d-flex">
                    <div class="col-md-6">
                        <ul>
                            <li>Building a complete web application from scratch using Java Spring Boot and Angular</li>
                            <li>Understanding security technologies related to RESTful APIs such as JWT, Spring Security, and OAuth 2.0</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul>
                            <li>Building RESTful APIs with Java Spring Boot including login, registration, and product/order management</li>
                            <li>Using Angular to create user interfaces for web applications and integrating with RESTful APIs</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- List Module -->
        <div class="row">
            <div class="list-module">
                <div class="accordion" id="accordionPanelsStayOpenExample">
                    <h2>Course Content</h2>
                    <div class="accordion-item">
                        <h3 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" 
                                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" 
                                aria-controls="panelsStayOpen-collapseOne">
                                <span class="name-module"> Intro To Course And Histuday</span>
                                <span class="time-module"> 1hr 40min</span>
                            </button>
                        </h3>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                            <div class="accordion-body">
                                <ul class="block-list">
                                    <li class="d-flex">
                                        <div class="icon">
                                            <i class="fa-regular fa-circle-play"></i>
                                        </div>
                                        <div class="list-item-content d-flex">
                                            <span class="name-lesson">
                                                Course Into
                                            </span>
                                            <span class="preview">Preview</span>
                                            <span class="sumary">16:11 Min</span>
                                        </div>
                                    </li>
                                    <li class="d-flex">
                                        <div class="icon">
                                            <i class="fa-regular fa-circle-play"></i>
                                        </div>
                                        <div class="list-item-content d-flex">
                                            <div class="name-lesson">
                                                <span>Watch Before Start</span>
                                            </div>
                                            <span class="preview"></span>
                                            <span class="sumary">1:13 Min</span>
                                        </div>
                                    </li>
                                    <li class="d-flex">
                                        <div class="icon">
                                            <i class="fa-regular fa-file"></i>
                                        </div>
                                        <div class="list-item-content d-flex">
                                            <div class="name-lesson">
                                                <span>Read Before Start</span>
                                            </div>
                                            <span class="preview"></span>
                                            <span class="sumary">16:11 Min</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h3 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" 
                            data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" 
                            aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                <span class="name-module"> Intro To Course And Histuday</span>
                                <span class="time-module"> 1hr 40min</span>
                            </button>
                        </h3>
                        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <ul class="block-list">
                                    <li class="d-flex">
                                        <div class="icon">
                                            <i class="fa-regular fa-circle-play"></i>
                                        </div>
                                        <div class="list-item-content d-flex">
                                            <span class="name-lesson">
                                                Course Into
                                            </span>
                                            <span class="preview">Preview</span>
                                            <span class="sumary">16:11 Min</span>
                                        </div>
                                    </li>
                                    <li class="d-flex">
                                        <div class="icon">
                                            <i class="fa-regular fa-circle-play"></i>
                                        </div>
                                        <div class="list-item-content d-flex">
                                            <div class="name-lesson">
                                                <span>Watch Before Start</span>
                                            </div>
                                            <span class="preview"></span>
                                            <span class="sumary">1:13 Min</span>
                                        </div>
                                    </li>
                                    <li class="d-flex">
                                        <div class="icon">
                                            <i class="fa-regular fa-file"></i>
                                        </div>
                                        <div class="list-item-content d-flex">
                                            <div class="name-lesson">
                                                <span>Read Before Start</span>
                                            </div>
                                            <span class="preview"></span>
                                            <span class="sumary">16:11 Min</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h3 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" 
                            data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" 
                            aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                                <span class="name-module"> Intro To Course And Histuday</span>
                                <span class="time-module"> 1hr 40min</span>
                            </button>
                        </h3>
                        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <ul class="block-list">
                                    <li class="d-flex">
                                        <div class="icon">
                                            <i class="fa-regular fa-circle-play"></i>
                                        </div>
                                        <div class="list-item-content d-flex">
                                            <span class="name-lesson">
                                                Course Into
                                            </span>
                                            <span class="preview">Preview</span>
                                            <span class="sumary">16:11 Min</span>
                                        </div>
                                    </li>
                                    <li class="d-flex">
                                        <div class="icon">
                                            <i class="fa-regular fa-circle-play"></i>
                                        </div>
                                        <div class="list-item-content d-flex">
                                            <div class="name-lesson">
                                                <span>Watch Before Start</span>
                                            </div>
                                            <span class="preview"></span>
                                            <span class="sumary">1:13 Min</span>
                                        </div>
                                    </li>
                                    <li class="d-flex">
                                        <div class="icon">
                                            <i class="fa-regular fa-file"></i>
                                        </div>
                                        <div class="list-item-content d-flex">
                                            <div class="name-lesson">
                                                <span>Read Before Start</span>
                                            </div>
                                            <span class="preview"></span>
                                            <span class="sumary">16:11 Min</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Infor Teacher -->
        <div class="row">
            <div class="instrutor">
                <h2>Instructor</h2>
                <div class="detail-instructor container d-flex">
                    <div class="col-md-4">
                        <div class="image-instructor">
                            <img src="murachlogo.jpg" alt="image-instructor">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="name-instructor">
                            <h3>B.M Rafekul</h3>
                        </div>
                        <div class="overview-instructor d-flex my-3">
                            <div class="mr-3">
                                <i class="fas fa-star text-warning"></i>
                                <span>75,254 Review</span>
                            </div>
                            <div class="mr-3">
                                <span class="rating-badge">4.4 Rating</span>
                            </div>
                            <div class="mr-3">
                                <i class="fas fa-user-graduate"></i>
                                <span>158,557 Student</span>
                            </div>
                            <div class="mr-3">
                                <i class="fas fa-book"></i>
                                <span>20 Course</span>
                            </div>
                        </div>
                        <p>John is a brilliant educator whose life was spent for computer science and love of nature.</p>
                        <div class="social-icons d-flex mt-4">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Review Student -->
        <div class="row">
            <div class="review-featured">
                <div class="container">
                    <h2 class="font-weight-bold">Featured Review</h2>
                    <div class="review-card">
                        <div class="row">
                            <div class="col-auto">
                                <img src="murachlogo.jpg" alt="Reviewer" class="review-avatar">
                            </div>
                            <div class="col">
                                <h6 class="font-weight-bold">Balqees Ahmed Fathi</h6>
                                <div class="star-rating mb-2">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                                <p>At 29 Years Old, My Favorite Compliment Is Being Told That I Look Like My Mom. Seeing Myself In Her Image, Like This Daughter Up Top</p>
                                <div class="feedback-icons">
                                    <a href="#"><i class="fas fa-thumbs-up"></i></a>
                                    <a href="#"><i class="fas fa-thumbs-down"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="review-card">
                        <div class="row">
                            <div class="col-auto">
                                <img src="murachlogo.jpg" alt="Reviewer" class="review-avatar">
                            </div>
                            <div class="col">
                                <h6 class="font-weight-bold">Razwan Islam</h6>
                                <div class="star-rating mb-2">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                                <p>At 29 Years Old, My Favorite Compliment Is Being Told That I Look Like My Mom. Seeing Myself In Her Image, Like This Daughter Up Top</p>
                                <div class="feedback-icons">
                                    <a href="#"><i class="fas fa-thumbs-up"></i></a>
                                    <a href="#"><i class="fas fa-thumbs-down"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
