<div class="course-sidebar">
    <div class="container mt-2">
        <div class="purchase-section buy-box-main">
            <div class="buy-box-item">
                <h2 class="current-price">$249.99</h2>
            </div>
            <div class="buy-box-item d-flex">
                <div class="btn-card">
                    <button>
                        Add to cart
                    </button>
                </div>
                <div class="btn-fav">
                    <button>
                        <i class="fa-regular fa-heart"></i>
                    </button>
                </div>
            </div>
            <div class="buy-box-item">
                <div class="btn-buy-now">
                    <button>
                        <a href="/#">Buy Now</a>
                    </button>
                </div>
            </div>
        </div>
        <div class="purchase-section money-back-guarantee">
            <span class="money-back">30-Day Money-Back Guarantee</span>
        </div>
        <div class="purchase-section sumary-course">
            <h2>This course includes:</h2>
            <ul>
                <li>
                    <div class="icon">
                        <i class="fa-solid fa-tv"></i>
                    </div>
                    <div class="content">
                        <p>24 hours on-demand video</p>
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <i class="fa-regular fa-file"></i>
                    </div>
                    <div class="content">
                        <p>7 downloadable resources</p>
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <i class="fa-solid fa-mobile-screen-button"></i>
                    </div>
                    <div class="content">
                        <p>Access on mobile and TV</p>
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <i class="fa-solid fa-certificate"></i>
                    </div>
                    <div class="content">
                        <p>Certificate of completion</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="purchase-section ctas">
            <form class="coupon-form"  id="couponForm">
                <input type="text" class="input-coupon" placeholder="Enter Coupon" name="couponCode">
                <button type="submit">
                    <span>Apply</span>
                </button>
            </form>
        </div>
    </div>
</div>
