<header class="header">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a class="navbar-brand" href="/">Elearning</a>
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link">Home</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCategories" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categories
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownCategories">
            <li><a class="dropdown-item" href="/math">Math</a></li>
            <li><a class="dropdown-item" href="/english">English</a></li>
            <li><a class="dropdown-item" href="/biology">Biology</a></li>
            <li><a class="dropdown-item" href="/chemistry">Chemistry</a></li>
            <li><a class="dropdown-item" href="/physics">Physics</a></li>
            <li><a class="dropdown-item" href="/literature">Literature</a></li>
            <li><a class="dropdown-item" href="/history">History</a></li>
            <li><a class="dropdown-item" href="/geography">Geography</a></li>
          </ul>
        </li>
        <li><a href="/my-courses" class="nav-link">My Courses</a></li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
      </form>

      <div class="text-end">
        <a href="/login" class="btn btn-login me-2">Login</a>
        <a href="/signup" class="btn btn-signup">Sign-up</a>
      </div>
    </div>
  </div>
</header>