<div class="sidebar p-3">
  <form id="filter-form">
    <div class="accordion">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" 
                data-bs-target="#panelsStayOpen-collapseOne" 
                aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
            <h3>Ratings</h3>
          </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
          <div class="accordion-body">
            <div class="form-check">
              <label class="form-radio-label" for="flexRadio1">
                <input class="form-radio-input" type="radio" name="flexRadio" id="flexRadio1">
                <span class="rating-stars">★★★★☆</span>
                <span class="rating-label">4.5 & up</span>
                <span class="rating-count">(1,070)</span>
              </label>
            </div>
            <div class="form-check">
              <label class="form-radio-label" for="flexRadio2">
                <input class="form-radio-input" type="radio" name="flexRadio" id="flexRadio2">
                <span class="rating-stars">★★★★☆</span>
                <span class="rating-label">4.0 & up</span>
                <span class="rating-count">(1,947)</span>
              </label>
            </div>
            <div class="form-check">
              <label class="form-radio-label" for="flexRadio3">
                <input class="form-radio-input" type="radio" name="flexRadio" id="flexRadio3">
                <span class="rating-stars">★★★☆☆</span>
                <span class="rating-label">3.5 & up</span>
                <span class="rating-count">(2,305)</span>
              </label>
            </div>
            <div class="form-check">
              <label class="form-radio-label" for="flexRadio4">
                <input class="form-radio-input" type="radio" name="flexRadio" id="flexRadio4">
                <span class="rating-stars">★★☆☆☆</span>
                <span class="rating-label">3.0 & up</span>
                <span class="rating-count">(2,450)</span>
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" 
                data-bs-target="#panelsStayOpen-collapseTwo" 
                aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo">
            <h3>Topics</h3>
          </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show">
          <div class="accordion-body">
            <div class="form-check">
              <label class="form-checkbox-label" for="flexCheckDefault">
                <input class="form-checkbox-input" type="checkbox" value="" id="flexCheckDefault">
                <span class="subject-name" >English</span>
                <span class="subject-count" >(990)</span>
              </label>
            </div>
            <div class="form-check">
              <label class="form-checkbox-label" for="flexCheckChecked">
                <input class="form-checkbox-input" type="checkbox" value="" id="flexCheckDefault">
                <span class="subject-name">Math</span>
                <span class="subject-count">(760)</span>
              </label>
            </div>
            <div class="form-check">
              <label class="form-checkbox-label" for="flexCheckChecked">
                <input class="form-checkbox-input" type="checkbox" value="" id="flexCheckDefault">
                <span class="subject-name">Science </span>
                <span class="subject-count">(850)</span>
              </label>
            </div>
            <div class="form-check">
              <label class="form-checkbox-label" for="flexCheckChecked">
                <input class="form-checkbox-input" type="checkbox" value="" id="flexCheckDefault">
                <span class="subject-name">History </span>
                <span class="subject-count">(1200)</span>
              </label>
            </div>
            <div class="form-check">
              <label class="form-checkbox-label" for="flexCheckChecked">
                <input class="form-checkbox-input" type="checkbox" value="" id="flexCheckDefault">
                <span class="subject-name">Geography </span>
                <span class="subject-count">(700)</span>
              </label>
            </div>
            <div class="form-check">
              <label class="form-checkbox-label" for="flexCheckChecked">
                <input class="form-checkbox-input" type="checkbox" value="" id="flexCheckDefault">
                <span class="subject-name">Physics </span>
                <span class="subject-count">(670)</span>
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" 
                data-bs-target="#panelsStayOpen-collapseThree" 
                aria-expanded="true" aria-controls="panelsStayOpen-collapseThree">
            <h3>Video Duration</h3>
          </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show">
          <div class="accordion-body">
            <div class="form-check">
              <label class="form-checkbox-label" for="flexCheckDefault">
                <input class="form-checkbox-input" type="checkbox" value="" id="flexCheckDefault">
                <span class="video-duration-range" >0-1 Hour</span>
                <span class="video-count" >(300)</span>
              </label>
            </div>
            <div class="form-check">
              <label class="form-checkbox-label" for="flexCheckChecked">
                <input class="form-checkbox-input" type="checkbox" value="" id="flexCheckDefault">
                <span class="video-duration-range">1-2 Hour</span>
                <span class="video-count">(760)</span>
              </label>
            </div>
            <div class="form-check">
              <label class="form-checkbox-label" for="flexCheckChecked">
                <input class="form-checkbox-input" type="checkbox" value="" id="flexCheckDefault">
                <span class="video-duration-range">2-3 Hour </span>
                <span class="video-count">(850)</span>
              </label>
            </div>
            <div class="form-check">
              <label class="form-checkbox-label" for="flexCheckChecked">
                <input class="form-checkbox-input" type="checkbox" value="" id="flexCheckDefault">
                <span class="video-duration-range">3-4 Hour </span>
                <span class="video-count">(1200)</span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>