<div class="list-module-lesson">
    <div class="list-module">
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="heading-list">
                <h2>Course Content</h2>
            </div>
            <div class="accordion-item">
                <h3 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" 
                        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" 
                        aria-controls="panelsStayOpen-collapseOne">
                        <span class="name-module"> Intro To Course And Histuday</span>
                        <span class="time-module"> 1hr 40min</span>
                    </button>
                </h3>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                    <div class="accordion-body">
                        <ul class="block-list">
                            <li class="d-flex">
                                <div class="icon">
                                    <i class="fa-regular fa-circle-play"></i>
                                </div>
                                <div class="list-item-content d-flex">
                                    <span class="name-lesson">
                                        Course Into
                                    </span>
                                    <span class="sumary">16:11 Min</span>
                                </div>
                            </li>
                            <li class="d-flex">
                                <div class="icon">
                                    <i class="fa-regular fa-circle-play"></i>
                                </div>
                                <div class="list-item-content d-flex">
                                    <div class="name-lesson">
                                        <span>Watch Before Start</span>
                                    </div>
                                    <span class="preview"></span>
                                    <span class="sumary">1:13 Min</span>
                                </div>
                            </li>
                            <li class="d-flex">
                                <div class="icon">
                                    <i class="fa-regular fa-file"></i>
                                </div>
                                <div class="list-item-content d-flex">
                                    <div class="name-lesson">
                                        <span>Read Before Start</span>
                                    </div>
                                    <span class="preview"></span>
                                    <span class="sumary">16:11 Min</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h3 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" 
                    data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" 
                    aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                        <span class="name-module"> Intro To Course And Histuday</span>
                        <span class="time-module"> 1hr 40min</span>
                    </button>
                </h3>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <ul class="block-list">
                            <li class="d-flex">
                                <div class="icon">
                                    <i class="fa-regular fa-circle-play"></i>
                                </div>
                                <div class="list-item-content d-flex">
                                    <span class="name-lesson">
                                        Course Into
                                    </span>
                                    <span class="sumary">16:11 Min</span>
                                </div>
                            </li>
                            <li class="d-flex">
                                <div class="icon">
                                    <i class="fa-regular fa-circle-play"></i>
                                </div>
                                <div class="list-item-content d-flex">
                                    <div class="name-lesson">
                                        <span>Watch Before Start</span>
                                    </div>
                                    <span class="preview"></span>
                                    <span class="sumary">1:13 Min</span>
                                </div>
                            </li>
                            <li class="d-flex">
                                <div class="icon">
                                    <i class="fa-regular fa-file"></i>
                                </div>
                                <div class="list-item-content d-flex">
                                    <div class="name-lesson">
                                        <span>Read Before Start</span>
                                    </div>
                                    <span class="preview"></span>
                                    <span class="sumary">16:11 Min</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h3 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" 
                    data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" 
                    aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                        <span class="name-module"> Intro To Course And Histuday</span>
                        <span class="time-module"> 1hr 40min</span>
                    </button>
                </h3>
                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <ul class="block-list">
                            <li class="d-flex">
                                <div class="icon">
                                    <i class="fa-regular fa-circle-play"></i>
                                </div>
                                <div class="list-item-content d-flex">
                                    <span class="name-lesson">
                                        Course Into
                                    </span>
                                    <span class="sumary">16:11 Min</span>
                                </div>
                            </li>
                            <li class="d-flex">
                                <div class="icon">
                                    <i class="fa-regular fa-circle-play"></i>
                                </div>
                                <div class="list-item-content d-flex">
                                    <div class="name-lesson">
                                        <span>Watch Before Start</span>
                                    </div>
                                    <span class="preview"></span>
                                    <span class="sumary">1:13 Min</span>
                                </div>
                            </li>
                            <li class="d-flex">
                                <div class="icon">
                                    <i class="fa-regular fa-file"></i>
                                </div>
                                <div class="list-item-content d-flex">
                                    <div class="name-lesson">
                                        <span>Read Before Start</span>
                                    </div>
                                    <span class="preview"></span>
                                    <span class="sumary">16:11 Min</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h3 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" 
                    data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse4" 
                    aria-expanded="false" aria-controls="panelsStayOpen-collapse4">
                        <span class="name-module"> Intro To Course And Histuday</span>
                        <span class="time-module"> 1hr 40min</span>
                    </button>
                </h3>
                <div id="panelsStayOpen-collapse4" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <ul class="block-list">
                            <li class="d-flex">
                                <div class="icon">
                                    <i class="fa-regular fa-circle-play"></i>
                                </div>
                                <div class="list-item-content d-flex">
                                    <span class="name-lesson">
                                        Course Into
                                    </span>
                                    <span class="sumary">16:11 Min</span>
                                </div>
                            </li>
                            <li class="d-flex">
                                <div class="icon">
                                    <i class="fa-regular fa-circle-play"></i>
                                </div>
                                <div class="list-item-content d-flex">
                                    <div class="name-lesson">
                                        <span>Watch Before Start</span>
                                    </div>
                                    <span class="preview"></span>
                                    <span class="sumary">1:13 Min</span>
                                </div>
                            </li>
                            <li class="d-flex">
                                <div class="icon">
                                    <i class="fa-regular fa-file"></i>
                                </div>
                                <div class="list-item-content d-flex">
                                    <div class="name-lesson">
                                        <span>Read Before Start</span>
                                    </div>
                                    <span class="preview"></span>
                                    <span class="sumary">16:11 Min</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h3 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" 
                    data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse5" 
                    aria-expanded="false" aria-controls="panelsStayOpen-collapse5">
                        <span class="name-module"> Intro To Course And Histuday</span>
                        <span class="time-module"> 1hr 40min</span>
                    </button>
                </h3>
                <div id="panelsStayOpen-collapse5" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <ul class="block-list">
                            <li class="d-flex">
                                <div class="icon">
                                    <i class="fa-regular fa-circle-play"></i>
                                </div>
                                <div class="list-item-content d-flex">
                                    <span class="name-lesson">
                                        Course Into
                                    </span>
                                    <span class="sumary">16:11 Min</span>
                                </div>
                            </li>
                            <li class="d-flex">
                                <div class="icon">
                                    <i class="fa-regular fa-circle-play"></i>
                                </div>
                                <div class="list-item-content d-flex">
                                    <div class="name-lesson">
                                        <span>Watch Before Start</span>
                                    </div>
                                    <span class="preview"></span>
                                    <span class="sumary">1:13 Min</span>
                                </div>
                            </li>
                            <li class="d-flex">
                                <div class="icon">
                                    <i class="fa-regular fa-file"></i>
                                </div>
                                <div class="list-item-content d-flex">
                                    <div class="name-lesson">
                                        <span>Read Before Start</span>
                                    </div>
                                    <span class="preview"></span>
                                    <span class="sumary">16:11 Min</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h3 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" 
                    data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse6" 
                    aria-expanded="false" aria-controls="panelsStayOpen-collapse6">
                        <span class="name-module"> Intro To Course And Histuday</span>
                        <span class="time-module"> 1hr 40min</span>
                    </button>
                </h3>
                <div id="panelsStayOpen-collapse6" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <ul class="block-list">
                            <li class="d-flex">
                                <div class="icon">
                                    <i class="fa-regular fa-circle-play"></i>
                                </div>
                                <div class="list-item-content d-flex">
                                    <span class="name-lesson">
                                        Course Into
                                    </span>
                                    <span class="sumary">16:11 Min</span>
                                </div>
                            </li>
                            <li class="d-flex">
                                <div class="icon">
                                    <i class="fa-regular fa-circle-play"></i>
                                </div>
                                <div class="list-item-content d-flex">
                                    <div class="name-lesson">
                                        <span>Watch Before Start</span>
                                    </div>
                                    <span class="preview"></span>
                                    <span class="sumary">1:13 Min</span>
                                </div>
                            </li>
                            <li class="d-flex">
                                <div class="icon">
                                    <i class="fa-regular fa-file"></i>
                                </div>
                                <div class="list-item-content d-flex">
                                    <div class="name-lesson">
                                        <span>Read Before Start</span>
                                    </div>
                                    <span class="preview"></span>
                                    <span class="sumary">16:11 Min</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h3 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" 
                    data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse7" 
                    aria-expanded="false" aria-controls="panelsStayOpen-collapse7">
                        <span class="name-module"> Intro To Course And Histuday</span>
                        <span class="time-module"> 1hr 40min</span>
                    </button>
                </h3>
                <div id="panelsStayOpen-collapse7" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <ul class="block-list">
                            <li class="d-flex">
                                <div class="icon">
                                    <i class="fa-regular fa-circle-play"></i>
                                </div>
                                <div class="list-item-content d-flex">
                                    <span class="name-lesson">
                                        Course Into
                                    </span>
                                    <span class="sumary">16:11 Min</span>
                                </div>
                            </li>
                            <li class="d-flex">
                                <div class="icon">
                                    <i class="fa-regular fa-circle-play"></i>
                                </div>
                                <div class="list-item-content d-flex">
                                    <div class="name-lesson">
                                        <span>Watch Before Start</span>
                                    </div>
                                    <span class="preview"></span>
                                    <span class="sumary">1:13 Min</span>
                                </div>
                            </li>
                            <li class="d-flex">
                                <div class="icon">
                                    <i class="fa-regular fa-file"></i>
                                </div>
                                <div class="list-item-content d-flex">
                                    <div class="name-lesson">
                                        <span>Read Before Start</span>
                                    </div>
                                    <span class="preview"></span>
                                    <span class="sumary">16:11 Min</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
