<app-header></app-header>

<div class="container">
    <div class="row row-odd p-3">
        <div class="content-row d-flex">
            <div class="col-md-6">
                <div class="content-left">
                    <h3 class="heading-content">Find The Best Course To Grow Your Skill</h3>
                    <div class="text-content">
                        <p>Grow your skills with our online courses with expert tutors from
                            anywhere anytime. Lorem Epsom dollar sit amet consectetur 
                            adi piscing elit, sed do eiusmod.
                        </p>
                    </div>
                    <div class="button-content col-md-3">
                        <a class="text-button" href="/course-search">Search Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="content-right">
                    <div class="image-content">
                        <img src="image0-homepage.jpg" alt="image-homepage">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-even p-3">
        <div class="content-row">
            <div class="col-md-12 d-flex justify-content-center">
                <div class="content-all col-md-10">
                    <h3 class="heading-content">Our Success</h3>
                    <div class="text-content">
                        <p>Our success is rooted in dedication, teamwork and a relentless pursuit of excellence. Together, we achieve milestones that define our journey and shape our future.
                        </p>
                    </div>
                    <div class="ud-text-content container d-flex">
                        <div class="survey-box col-md-3">
                            <div class="number-box">15K+</div>
                            <div class="name-box">Students</div>
                        </div>
                        <div class="survey-box col-md-3">
                            <div class="number-box">85%</div>
                            <div class="name-box">Total Success</div>
                        </div>
                        <div class="survey-box col-md-3">
                            <div class="number-box">100+</div>
                            <div class="name-box">Expert Instructor</div>
                        </div>
                        <div class="survey-box col-md-3">
                            <div class="number-box">150+</div>
                            <div class="name-box">Total Courses</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-odd p-3">
        <div class="content-row d-flex">
            <div class="col-md-6">
                <div class="content-left">
                    <div class="image-content">
                        <img src="image-homepage.jpg" alt="image-homepage">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="content-right">
                    <h3 class="heading-content">Benefits From Our Online Learning</h3>
                    <div class="text-content">
                        <div class="row">
                            <div class="heading-text">Online Degrees</div>
                            <p>Attain accredited degrees from the convenience of your home, unlocking numerous opportunities in the process.</p>
                        </div>
                        <div class="row">
                            <div class="heading-text">Training From Experts</div>
                            <p>Immerse yourself in a wealth of knowledge as industry experts guide you through practical experiences.</p>
                        </div>
                        <div class="row">
                            <div class="heading-text">Short Courses</div>
                            <p>Elevate your expertise through our succinct and targeted short courses, crafted for swift and efficient learning.</p>
                        </div>
                        <div class="row">
                            <div class="heading-text">2K+ Video Courses</div>
                            <p>Explore an extensive collection of over 2k video courses spanning various subjects, providing a visually immersive learning experience.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-even p-3">
        <div class="content-row d-flex">
            <div class="col-md-6">
                <div class="content-left">
                    <h3 class="heading-content">What They Say</h3>
                    <div class="text-content">
                        <p>
                            E-Learn has got more than 50k positive ratings from our 
                            users around the world. Some of the students and teachers were greatly 
                            helped by the website.
                        </p>
                        <h4>Are you too? Please give your assessment</h4>
                    </div>
                    <div class="button-content col-md-4">
                        <a class="text-button" href="/course-search">Give your feedback →</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="content-right">
                    <div class="image-content">
                        <img src="image0-homepage.jpg" alt="image-homepage">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  
<app-footer></app-footer>

