footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #ffffff; 
  padding: 10px 0;
  text-align: center;
  background-color: #E7891E;
  
  p {
    margin-bottom: 0;
    font-size: 14px;

  }
}
  