<div class="heading p-3">
    <div class="container d-flex">
        <div class="col-md-1">
            <div class="form-filter">
                <button class="filter-button">
                    <a><i class="fa-solid fa-bars"></i></a>
                    <span>Filter</span>
                </button>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>
                    <span class="label-text">Sort by</span>
                </label>
                <div class="select-container">
                    <select class="" name="sort" id="form-group-select">
                        <option value="relevance" selected="">Most Relevant</option>
                        <option value="most-reviewed">Most Reviewed</option>
                        <option value="highest-rated">Highest Rated</option>
                        <option value="newest">Newest</option>
                    </select>
                    <div class="select-icon"></div>
                </div>
            </div>
        </div>
    </div>
</div>
